<% provide(:title, 'About Us') %>
    <h1>Find Your Click</h1>
    <p>
      This is the about page for Find Your Click!</p>
    <br>
	<p>This is an attempt at a new social networking platform that organizes users automatically based on the location of their IP address when they sign in via website or GPS when they log in via smartphone.</p>
